.page {
  display: none;
}

.page.active {
  display: block;
}

.hero {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.cards {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}